[submodule "projects/portrait-tei"]
	path = projects/portrait-tei
	url = https://github.com/JonathanReeve/corpus-joyce-portrait-TEI.git
[submodule "assets/js/annotags"]
	path = assets/js/annotags
	url = https://github.com/JonathanReeve/annotags
[submodule "projects/garden-party"]
	path = projects/garden-party
	url = https://github.com/JonathanReeve/corpus-mansfield-garden-party-TEI
[submodule "assets/js/vendor/reveal.js"]
	path = assets/js/vendor/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "assets/js/vendor/impress.js"]
	path = assets/js/vendor/impress.js
	url = https://github.com/impress/impress.js.git
