[submodule "projects/portrait-tei"]
	path = projects/portrait-tei
	url = https://github.com/JonathanReeve/corpus-joyce-portrait-TEI.git
[submodule "assets/js/annotags"]
	path = assets/js/annotags
	url = https://github.com/JonathanReeve/annotags
[submodule "projects/garden-party"]
	path = projects/garden-party
	url = https://github.com/JonathanReeve/corpus-mansfield-garden-party-TEI
