extends page

block content
  //-div!= JSON.stringify(posts)
  section#posts
    each post in posts
      li.post
        span.post-date!= post.date + ' '
        a(href=post.path).post-title!= post.title
