extends page

block content
  //-div!= JSON.stringify(posts)
  section#posts
    each post in posts
      li.post
        span.post-date!= post.date + ' '
        div
          a(href=post.path).post-title!= post.title
          div.tags
            each tag in post.tags
              a(href="/tags/#" + tag.slug)
                tag= tag.name
