doctype html
html
  head
    title= site.title
    meta(charset="UTF-8")
    meta(name='description', content= site.description)

    link(rel='stylesheet', href='/assets/css/bare.min.css')
    link(rel='stylesheet', href='/assets/css/style.css')
    link(href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700" rel="stylesheet")

    // Code highlighting with highlight.js. 
    link(rel='stylesheet', href='/assets/css/railscasts.css')

    // Icons with FontAwesome
    link(rel='stylesheet', href='/assets/css/font-awesome.min.css')

  body
    header
      nav
        header
          a(href='/')= site.title + ' | ' + site.description
        ul
          each navitem in site.nav
            li
              a(href=navitem.url)= navitem.name

    main
      block content

    footer
      grid
        div.coda(col="2/3")!= site.coda
        div.icons(col="1/3" txt="r")
          a(href="http://github.com/" + site.author.github).fa.fa-github
          a(href="http://twitter.com/" + site.author.twitter).fa.fa-twitter
          a(href="mailto:" + site.author.email).fa.fa-envelope
