extends page

block content
  section#tags
    each tag in Object.keys(tags).sort(Intl.Collator().compare)
      a(name=tags[tag].urlSafe)
      li.tag
        span.chip= tag
        each page in tags[tag]
          li(class='taggedPost')
            a(href='/'+page.path)!= page.title
