/* Turning Metadata off for the moment */
div#metadata { display: none; } 

body { 
	font-family: 'Merriweather', serif;
	font-weight: 400; 
	font-size: 1em; 
	line-height: 1.4; 
	width: 80%; 
	margin: 0 auto; 
} 

img { 
	max-width: 100%; 
} 

.figure { 
	text-align: center; 
} 

.header-area { 
	/* just a little space at the top of the page to make it classy */
	margin-top: 2em;
} 

.header-area, .references { 
	margin-left: 15%; 
	margin-right: 15%; 
} 

h1, h2 { 
	text-align: center;
} 

a { 
	color: #A33; 
} 

p.song { 
	margin: 0 3em; 
	display: inline-block; 
	vertical-align: top;
} 

sup.lexeme-id { 
	color: #A33; 
	font-size: 0.7em; 
	margin-right: 2px; 
} 

span.emph { 
	font-style: italic; 
} 

span.tag { 
	background-color: #F2D2C6; 
	border: 1px solid #F0A9A1; 
	border-radius: 2px; 
	font-size: 80%; 
	padding: 2px;
	margin: 1px;
	white-space: nowrap;
} 

span.tag:hover { 
	background-color: #F0A9A1;
} 

.pilcrow { 
	color: #888; 
} 

.metadata { 
	display: none; /* hide this for now */ 
} 

td { 
	vertical-align: top; 
	padding: 2%; 
	width: 50%; 
} 

.references { 
	text-indent: -2em; 
	padding-left: 4em;
} 

/* Mobile Views */ 
@media screen and (max-width: 769px) {

	body { 
		width: 90%; 
	} 
	.header-area { 
		margin-left: 10%; 
		margin-right: 10%; 
	} 
} 


@media print { 
	html { 
		font-size: 12px !important; 
		margin: 0; 
	} 
	body { 
		width: 100%; 
	} 
	h1 { 
		font-size: 16px; 
	} 
	h2 { 
		font-size: 14px; 
	} 
	table { 
		font-size: 12px;
	} 
	.header-area, .references { 
		margin-left: 5%; 
		margin-right: 5%; 
	} 
} 

@page { 
	size: auto;   /* auto is the initial value */ 

	/* this affects the margin in the printer settings */ 
	margin: 25mm 25mm 25mm 25mm;  
} 


